body {
    
  }
  body .letter-wrapper {
    border: 0pt solid;
    margin: auto;
    overflow: hidden;
    background-color: #f5f5f5;
    left: auto;
    top: auto;
    width: 210mm;
    height: 297mm;
    /* background-image: url("../img/watermark2.png"); */
    position: relative;
    /*.main-letter*/
  }

  .tri{transform: rotate(45deg);
    left: -38mm;
    top: 6.3mm;
    width: 0mm;
    height: 0mm;
    border-style: solid;
    border-width: 103pt 0 101pt 101pt;
    border-color:  #ecab06;
    position: absolute;
    }

  body .letter-wrapper .topbox1 {
    position: absolute;
    left: 0mm;
    top: 0mm;
    width: 9mm;
    height: 297mm;
    background-color: #000;
    
    z-index:1;
    background-color: yellow; /* For browsers that do not support gradients */
    background-image: linear-gradient(rgb(236, 183, 10), rgb(254, 7, 40));
}
  
  body .letter-wrapper .topbox2 {
    position: absolute;
    left: 3mm;
    bottom: 5mm;
    width: 15mm;
    height: 32mm;
    background-color: rgb(254, 7, 40);
    border-radius: 10mm;
    z-index:0;
  }
   body .letter-wrapper .letter-content {
    
  }
  body .letter-wrapper .letter-content header {
    position: absolute;
    left: 0mm;
    top: 0mm;
    width: 100%;
    height: 45mm;
  }
  body .letter-wrapper .letter-content header .letter-org-logo {
    font-weight: bold;
    position: absolute;
    left: 15mm;
    top: 12mm;
    width: 25mm;
    height: 25mm;
    margin: 5mm;
  }
  body .letter-wrapper .letter-content header .letter-org-logo img {
    width: 100%;
    height: 100%;
  }
  body .letter-wrapper .letter-content header .letter-org-name {
    font-weight: bold;
    position: absolute;
    left: 107mm;
    top: 40mm;
    width: 100%;
    height: auto;
    font-size: 16pt;
  }
  body .letter-wrapper .letter-content header .letter-org-details {
    position: absolute;
    left: 114mm;
    top: 47mm;
    width: 100%;
    height: auto;
    font-size: 10pt;
  }
  body .letter-wrapper .letter-content header .letter-ref {
    font-weight: bold;
    position: absolute;
    left: 15mm;
    top: 65mm;
    width: 50%;
    height: auto;
    font-size: 12pt;
  }
  body .letter-wrapper .letter-content header .letter-date {
    font-weight: bold;
    position: absolute;
    left: 155mm;
    top: 105mm;
    width: 30%;
    height: auto;
    font-size: 12pt;
  }
  body .letter-wrapper .letter-content .letter-body {
    position: absolute;
    left: 0mm;
    top: 45mm;
    width: 100%;
    height: 200mm;
  }
  body .letter-wrapper .letter-content .letter-body .letter-body-to {
    position: absolute;
    left: 15mm;
    top: 27mm;
    width: 70mm;
    height: 35mm;
    font-weight: bold;
    font-size: 13pt;
    margin: 0mm;
  }
  body .letter-wrapper .letter-content .letter-body .letter-body-subject {
    position: absolute;
    left: 0mm;
    top: 56mm;
    width: calc(100% - 45mm);
    height: 20mm;
    margin-left: 15mm;
    margin-right: 15mm;
    font-size: 15pt;
    font-weight: bold;
  }
  body .letter-wrapper .letter-content .letter-body .letter-body-salutation {
    position: absolute;
    left: 0mm;
    top: 66mm;
    width: auto;
    height: auto;
    margin-left: 15mm;
    font-weight: bold;
    font-size: 15pt;
  }
  body .letter-wrapper .letter-content .letter-body .letter-body-message {
    position: absolute;
    left: 0mm;
    top: 80mm;
    width: auto;
    height: 115mm;
    margin-left: 15mm;
    margin-right: 15mm;
  }
  body .letter-wrapper .letter-content .letter-body .letter-body-message p {
    font-size: 13pt;
    text-indent: 15mm;
    font-family: "Times New Roman", Times, serif;
    overflow: auto;
    text-align: justify;
  }
  body .letter-wrapper .letter-content .letter-body .letter-body-sign {
    position: absolute;
    right: 0mm;
    top: 175mm;
    width: auto;
    height: auto;
    margin-left: 15mm;
    margin-right: 15mm;
    font-size: 12pt;
    font-weight: bold;
  }
  body .letter-wrapper .letter-content .letter-body .letter-body-sign p {
    margin: 0mm;
    font-size: 10pt;
    font-weight: normal;
  }
  body .letter-wrapper .letter-content .letter-footer {
    position: absolute;
    left: 0mm;
    top: 256mm;
    width: 100%;
    height: 35mm;
  }
  body .letter-wrapper .letter-content .letter-footer .fa {
    width: 7mm;
    height: 7mm;
    border-radius: 50%;
    padding: 1mm;
    margin-right: 3mm;
    background-color: #f4f7f7;
    text-align: center;
    font-size: 12pt;
  }
  body .letter-wrapper .letter-content .letter-footer .letter-org-website {
    position: absolute;
    bottom: 30mm; 
    width: auto;
    height: auto;
    margin-left: 11mm;
    margin-right: 15mm;
    font-size: 13pt;
    font-weight: bold;
    text-shadow: 0.2mm 0.2mm white;
  }
  body .letter-wrapper .letter-content .letter-footer .letter-org-phone {
    position: absolute;
    left: -6mm;
    bottom: 20mm;
    width: 40%;
    height: auto;
    margin-left: 15mm;
    margin-right: 15mm;
    font-size: 13pt;
  }
  body .letter-wrapper .letter-content .letter-footer .letter-org-email {
    position: absolute;
    left: -6mm;
    bottom: 11mm;
    width: 87mm;
    height: auto;
    margin-left: 15mm;
    margin-right: 15mm;
    font-size: 10pt;
  }
  body .letter-wrapper .letter-content .letter-footer .letter-org-address {
    position: absolute;
    left: -6mm;
    bottom: 2mm;
    width: 100%;
    height: auto;
    margin-left: 15mm;
    margin-right: 15mm;
    font-size: 10pt;
  }
  
 