
@font-face {
  font-family: cname;
  src: url("./font/Figtree-VariableFont_wght.ttf");
}

body{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body .letter-wrapper {
  border: 1pt solid rgb(246, 234, 234);
  width: 210mm;
  height: 297mm;
  background-color:rgb(248, 247, 244);
  position: relative;
  overflow: hidden;
  /*background-image: url("./image/watermarkimg.jpg");*/
  padding: 2em 4em;
}

.letter-org-name{
  position: absolute;
  left: 58mm;
  top: 16mm;
  font-size: 22pt;
  font-weight: bold;
  font-family: cname;
}
.letter-org-details{
  position: absolute;
  left: 60mm;
  top: 27mm;
  font-size: 15pt;
}
.letter-ref{
  position: absolute;
  top: 70mm;
  right: 45mm;
  font-size: 15pt;
}
.letter-date{
  position: absolute;
  top: 76mm;
  right: 52mm;
  font-size: 15pt;
}

body .letter-wrapper .tri1{
  position: absolute;
  bottom: -26.722mm;
  left: -18.785mm;
  height: 52mm;
  width: 85mm;
  z-index: 1;
  transform: rotateZ(30deg);
  background-color: rgb(62 164 197);
  background-image: linear-gradient(to bottom, #416a6e7d, #ade4ed);
}
body .letter-wrapper .tri2{
  background-image: linear-gradient(to bottom, #416a6e57, #ade4ed);

  position: absolute;
  right: -6.085mm;
  top: -49.212mm;
  height: 86mm;
  width: 58mm;
  background-color: #2ec2c2;
  
  transform: rotateZ(-63deg);
}
body .letter-wrapper .tri3{
  position: absolute;
  height: 6mm;
  width: 79mm;
  right: -25mm;
  top: 31mm;
  transform: skew(2deg, 27deg);
    /* transform: rotate3d(1, 11, -16, 81deg); */
    background-color: #1d8ea8;
  background-image: linear-gradient(to top, #0c656ee0, #ade4ed);
}

body .letter-wrapper .tri4{
    position: absolute;
    height: 6mm;
    width: 79mm;
    right: -38mm;
    top: 43mm;
    transform: skew(2deg, 27deg);
    background-color: black;
}

body .letter-wrapper .tri5{
  position: absolute;
  height: 6mm;
  width: 79mm;
  left: -27mm;
  bottom: 35mm;
  transform: rotate3d(1, 3, 1, 55deg);
  /* background-color: #1d8ea8; */
  transform: skew(1deg, 30deg);
  background-color: rgb(62 164 197);
  background-image: linear-gradient(to bottom, #416a6e7d, #ade4ed);
}

body .letter-wrapper .tri6{
  position: absolute;
  height: 6mm;
  width: 79mm;
  left: -41mm;
  bottom: 49mm;
  transform: rotate3d(1, 3, 1, 55deg);
  background-color: black;
  transform: skew(1deg, 30deg);
}
body .letter-wrapper .letter-content .letter-body {
  position: absolute;
  left: 0mm;
  top: 45mm;
  width: 100%;
  height: 20mm;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

body .letter-wrapper .letter-content header .letter-org-logo img{
  position: absolute;
  height: 42mm;
  left: 8mm;
  top: 5mm;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 3.968mm;

  /* margin-right: 16mm; */
  font-size: 15pt;
}
.container i{
  color: rgb(62, 157, 168);
  
}

.container{
  position: relative;
  top: 192mm;
  width: 241mm;
  left: -12mm;
}

body .letter-wrapper .letter-content .letter-body .letter-body-to{
  position: absolute;
  left: 14mm;
  top: 19mm;
  width: 70mm;
  height: 35mm;
  font-weight: bold;
  font-size: 15pt;
  margin: 0mm;
}
body .letter-wrapper .letter-content .letter-body-messsage{
  position: absolute;
  left: 0mm;
  top: 50mm;
  width: auto;
  height: 115mm;
  margin-left: 15mm;
  margin-right: 15mm;
}
body .letter-wrapper .letter-content .letter-body-messsage {
  font-size: 15pt;
  text-indent: 0mm;
  font-family: 'Times New Roman', Times, serif;
  overflow: auto;
  text-align: justify;
  top: 57mm;
}
body .letter-wrapper .letter-content .letter-body-sign{
  position: absolute;
  left: 0mm;
  top: 195mm;
  width: auto;
  height: auto;
  margin-left: 15mm;
  margin-right: 15mm;
  font-size: 12pt;
  font-weight: bold;
}
body .letter-wrapper .letter-content .letter-body-sign img{
  position: absolute;
  bottom: 15mm;
  height: 25mm;
  width: 25mm;
  background-color: aliceblue;
  mix-blend-mode: darken;
}
body .letter-wrapper .letter-content .letter-body-sign p{
  margin: 0mm;
  font-size: 15pt;
  font-weight: normal;
}


.margin-top{
  margin-top: -5.291mm;
}

body .letter-wrapper .letter-content .letter-footer {
  position: absolute;
  left: 0mm;
  top: 256mm;
  width: 100%;
  height: 35mm;
}
body .letter-wrapper .letter-content .letter-footer .fa {
  width: 7mm;
  height: 7mm;
  border-radius: 50%;
  padding: 1mm;
  margin-right: 3mm;
  background-color: #43a9bb;
  text-align: center;
  font-size: 12pt;
}
body .letter-wrapper .letter-content .letter-footer .letter-org-website {
  position: absolute;
  left: 102mm;
  top: -1mm;
  width: auto;
  height: auto;
  margin-left: 15mm;
  margin-right: 15mm;
  font-size: 20pt;
  font-weight: bold;
  text-shadow: 0.2mm 0.2mm white;
}
body .letter-wrapper .letter-content .letter-footer .letter-org-phone {
  position: absolute;
  left: 141mm;
  top: -61mm;
  width: 40%;
  height: auto;
  margin-left: 15mm;
  margin-right: 15mm;
  font-size: 13pt;
}
body .letter-wrapper .letter-content .letter-footer .letter-org-email {
  position: absolute;
  left: 141mm;
  top: -49mm;
  width: 87mm;
  height: auto;
  margin-left: 15mm;
  margin-right: 15mm;
  font-size: 13pt;
}
body .letter-wrapper .letter-content .letter-footer .letter-org-address {
  position: absolute;
  left: 141mm;
  top: -36mm;
  width: 100%;
  height: auto;
  margin-left: 15mm;
  margin-right: 15mm;
  font-size: 13pt;
}
